/* Fixes */

md-fab {
    position: fixed !important;
}

md-icon-button {
    border-radius: 50%;
}

#main-paper {
    min-height: 256px;
}

#main-paper>md-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#main-paper>md-body>md-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

#main-pager {
    flex: 1;
    overflow-y: auto;
    width: 100%;
}

md-fab {
    position: relative;
}

.donate-text,
.please-text {
    position: absolute;
    z-index: 9999;
    bottom: -100px;
    left: 50%;
    height: 100px;
    width: 100px;
    transform: translate(-50%);
}

md-fab:hover:not(.donated)>.donate-text,
md-fab>.please-text {
    display: none;
}

md-fab:hover:not(.donated)>.please-text {
    display: block;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.hidden {
    display: none;
}

#main-pager>md-page {
    position: relative;
}

#landing-html>div {
    width: 100%;
    min-height: 64px;
    display: flex;
}

#landing-html>div>.text {
    position: relative;
    flex: 1;
}

#landing-html>div>.text>span {
    position: absolute;
    margin-right: 16px;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    padding-right: 32px;
}

#landing-html>div>.text.center>span {
    text-align: middle;
}

#landing-html>div>.text.right>span {
    text-align: end;
}

.changelog p,
.faq p {
    margin: 0;
}

.faq span {
    white-space: normal;
}

.faq md-icon svg {
    top: -2px;
    left: 0;
}

.faq md-icon {
    display: inline-block;
    padding: 0;
    height: 16px;
    width: 24px;
}

#main-paper md-tabbar.no-landing {
    margin-left: -118.890625px;
}

#main-paper md-tabbar #selector {
    background-color: white;
}

@media all and (max-width: 768px) {
    #author {
        display: none;
    }
    #main-paper {
        width: 100%;
    }
}

@media all and (min-width: 768px) {
    #author-mobile {
        display: none;
    }
    body>md-toolbar {
        z-index: initial !important;
    }
    #main-paper {
        position: fixed;
        top: 64px;
        left: 50%;
        transform: translate(-50%);
        width: 700px;
        height: 384px;
        overflow: auto;
        border-radius: 2px;
    }
}

@media all and (min-width: 768px) and (min-height: 670px) {
    #main-paper {
        height: 384px;
    }
}

@media all and (min-width: 900px) {
    md-fab {
        top: 164px;
        right: 3%;
    }
}

@media all and (min-width: 1080px) {
    md-fab {
        right: 7%;
    }
}

@media all and (min-width: 1200px) {
    md-fab {
        right: 11%;
    }
}

@media all and (min-width: 1400px) {
    md-fab {
        right: 20%;
    }
}
