#main-paper {
    min-height: 256px;
}

#main-paper>md-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#main-paper>md-body>md-content {
    flex: 1;
    background-color: #fff;
}

#main-pager {
	flex: 1;
    width: 100%;
}

#main-pager>md-page {
	flex: 1;
    overflow: auto;
}

.landing {
    height: 50px;
    width: 50px;
}

.changelog p,
.faq p {
    margin: 0;
}

.faq md-icon svg {
    top: -2px;
    left: 0;
}

.faq md-icon {
    display: inline-block;
    padding: 0;
    height: 16px;
    width: 24px;
}

#main-paper md-tabbar #selector {
    background-color: white;
}

@media all and (max-width: 768px) {
    #author {
        display: none;
    }
    #main-paper {
        width: 100%;
    }
}

@media all and (min-width: 768px) {
    #author-mobile {
        display: none;
    }
    body>md-toolbar {
        z-index: initial !important;
    }
    #main-paper {
        position: fixed;
        top: 64px;
        left: 50%;
        transform: translate(-50%);
        width: 700px;
        max-height: 86%;
        overflow: auto;
        border-radius: 2px;
    }
}

@media all and (min-width: 768px) and (min-height: 670px) {
    #main-paper {
        height: 384px;
    }
}

@media all and (min-width: 1080px) {
    md-fab {
        top: 164px;
        right: 7%;
    }
}

@media all and (min-width: 1200px) {
    md-fab {
        right: 11%;
    }
}

@media all and (min-width: 1400px) {
    md-fab {
        right: 20%;
    }
}
