#main-paper {
    min-height: 256px;
}

#main-pager {
    width: 100%;
}

.landing {
    height: 50px;
    width: 50px;
    background-color: red;
}

.changelog p {
	margin: 0;
}

#main-paper md-tabbar #selector {
    background-color: white;
}

@media all and (max-width: 768px) {
    #author {
        display: none;
    }
    #main-paper {
        width: 100%;
    }
}

@media all and (min-width: 768px) {
    #author-mobile {
        display: none;
    }
    body>md-toolbar {
        z-index: initial !important;
    }
    #main-paper {
        position: fixed;
        top: 64px;
        left: 50%;
        transform: translate(-50%);
        width: 700px;
        max-height: 86%;
        overflow: auto;
        border-radius: 2px;
    }
}
